<a href="https://colab.research.google.com/github/Madmins07/Business_Club_Tasks/blob/main/Madhav_Agarwal_Level1A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) Import Pandas and Numpy

In [38]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [39]:
Chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv ', sep='\t')
print(Chipo.shape)

(4622, 5)

### 3) See the first 10 entries

In [40]:
print(Chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### 4) What is the number of observations in the dataset?

In [41]:
print(f"Number of observations in the dataset:- {Chipo.shape[0]}")

Number of observations in the dataset:- 4622

### 5) What is the number of columns in the dataset?

In [42]:
print(f"Number of observations in the dataset:- {Chipo.shape[1]}")

Number of observations in the dataset:- 5

### 6) Print the name of all the columns.

In [43]:
print(Chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [44]:
print(f"The most ordered item:- {Chipo['item_name'].where(Chipo['quantity'] == Chipo['quantity'].max()).dropna().iloc[0]}")

The most ordered item:- Chips and Fresh Tomato Salsa

### 8) For the most-ordered item, how many items were ordered?

In [45]:
name = Chipo['item_name'].where(Chipo['quantity'] == Chipo['quantity'].max()).dropna().iloc[0]
count = Chipo[Chipo['item_name'] == name]['quantity'].sum()
print(f"Number of times {name} was ordered is:- {count}")

Number of times Chips and Fresh Tomato Salsa was ordered is:- 130

### 9) What was the most ordered item in the choice_description column?

In [46]:
item = Chipo['choice_description'].value_counts().index[0]
print(f"The most ordered item in the choice_description column is:- {item}")

The most ordered item in the choice_description column is:- [Diet Coke]

### 10) How many items were ordered in total?

In [47]:
print(f"Total items ordered: {Chipo['quantity'].sum()}")

Total items ordered: 4972

### 11) Turn the item price into a float

In [48]:
Chipo['item_price'] = Chipo['item_price'].apply(lambda x: float(x[1:]))
print(Chipo['item_price'].dtype)

float64

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [50]:
sum = (Chipo['quantity'] * Chipo['item_price']).sum()
print(f"Total revenue for the given period is:- {sum}")

Total revenue for the given period is:- 39237.02

### 13) How many orders were made in the period?

In [57]:
print(f"Total orders made in the period:- {Chipo['order_id'].unique().size}")

Total orders made in the period:- 1834

### 14) What is the average revenue amount per order?

In [58]:
avg = Chipo['quantity'] * Chipo['item_price']
avgper = (avg.sum() )/ (Chipo['order_id'].unique().size)
print(f"Average revenue per order:- {avgper}")

Average revenue per order:- 21.39423118865867

### 15) How many different items are sold?

In [59]:
print(f"Total number of different items sold:- {Chipo['item_name'].unique().size}")

Total number of different items sold:- 50